[{:itonami.blueprint/social-impact [:worker-safety :print-quality :production-throughput]
  :itonami.blueprint/domain :manufacturing/pre-press-workshop-scheduling-coordination
  :itonami.blueprint/required-technologies [:robotics :identity :audit-ledger]
  :itonami.blueprint/isco-08 "7321"
  :itonami.blueprint/name "Pre-press Workshop Coordination Practice"
  :itonami.blueprint/governor :prepresstech-governor
  :itonami.blueprint/robotics true
  :db/id -1
  :itonami.blueprint/status :public-oss
  :itonami.blueprint/id "cloud-itonami-isco-7321"
  :itonami.blueprint/license "AGPL-3.0-or-later"}]
